<!DOCTYPE html>
<html>
<head>
    <title>Video AI Khmer</title>
</head>
<body>

<h2>🎥 Upload Video</h2>

<input type="file" id="video">
<button onclick="upload()">Process</button>

<p id="result"></p>

<script>
async function upload() {
    let file = document.getElementById("video").files[0];
    let formData = new FormData();
    formData.append("video", file);

    let res = await fetch("/process", {
        method: "POST",
        body: formData
    });

    let data = await res.json();

    document.getElementById("result").innerHTML =
        "TEXT: " + data.text + "<br><br>" +
        "KHMER: " + data.khmer;
}
</script>

</body>
</html>
